@import "style/library.scss";
.goto-account-container {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border: 2px solid $border-color;
  margin-block-start: 1rem;
  border-radius: 1rem;
  width: 100%;

  .text {
    flex-grow: 1;
    font-size: 0.8rem;
    text-align: center;
    padding-inline: 0.5rem;
  }
  .link-btn {
    @include background-interface-icon(
      "../../../../assets/icons/rightArrow.svg",
      2rem,
      1.1rem
    );
    border: 2px solid $border-color;
    border-radius: 0.7rem;
  }
}
