.custom-input-wrapper {
  position: relative;
  margin-block-end: 1.4rem;

  input {
    font-size: 0.9rem;
    width: 100%;
    padding-inline: 3rem 1.2rem;
    padding-block: 1rem;
    border-radius: 1rem;
    border: 2px solid $border-color;

    &.password {
      padding-inline-end: 3.2rem;
    }
    &.error-border {
      border: 2px solid red;
    }
  }
  .error {
    width: fit-content;
    color: red;
    font-size: 0.6rem;
    position: absolute;
    bottom: -0.9rem;
    right: 1rem;
  }
  .show-password-btn {
    @include background-interface-icon(
      "../assets/icons/eyeOpened.png",
      1.6rem,
      1.4rem
    );
    position: absolute;
    right: 1rem;
    top: 52%;
    transform: translateY(-50%);
  }
  .hide-password-btn {
    @include background-interface-icon("../assets/icons/eyeClosed.svg", 1.7rem);
    position: absolute;
    right: 1rem;
    top: 52%;
    transform: translateY(-50%);
  }
  .input-icon {
    $icon-size: 1rem;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    width: $icon-size;
    height: $icon-size;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
//  remeber me button 
.remember-me-btn {
  padding: 0.25rem 0.8rem;
  border: 2px solid $border-color-lighter;
  border-radius: 0.6rem;
  font-weight: 600;
  color: $text-color-super-dim;
  transition: all 200ms ease-in-out;
  margin-block-end: 0.75rem;
  margin-inline-start: 0.2rem;

  &.active {
    color: $text-color;
  }
}
