@import "main";
nav {
  width: 100vw;
  height: fit-content;
  padding:0.75rem 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .search-container {
    height: fit-content;
    width: fit-content;
    position: relative;

    .search-input {
      width: 20rem;
      height: fit-content;
      padding: 0.9rem 3rem 0.9rem 1.2rem;
      border: 2px solid rgb(227, 227, 227);
      border-radius: 100rem;
      font-size: 0.8rem;
    }
    .search-btn {
      @include background-interface-icon(
        "../public/icons/search.svg",
        1.5rem,
        1.3rem
      );
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .navigation-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .nav-links {
      text-decoration: none;
      padding: 1.8rem;
      cursor: pointer;
    }
    .nav-icon {
      margin-inline: 1rem;
    }
    .wishlist-icon {
      @include background-interface-icon(
        "../public/icons/wishList.svg",
        1.5rem,
        1.2rem
      );
    }
    .cart-icon {
      @include background-interface-icon(
        "../public/icons/card.svg",
        1.5rem,
        1.2rem
      );
    }
    .profile-icon-container {
      @include flex-center;
      height: fit-content;
      width: fit-content;
      padding: 0.3rem 0.5rem;
      gap: 0.6rem;
      border-radius: 0.8rem;
      border: 2px solid rgb(236, 236, 236);
      cursor: pointer;

      .profile-icon {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 100%;
        background-color: rgb(0, 0, 0);
      }
      .more-options-icon {
        @include background-interface-icon(
          "../public/icons/dropDownArrow.svg",
          1.2rem,
          1rem
        );
      }
    }
  }
}
