$text-color: black;
$text-color-dim: rgb(150, 150, 150);
$text-color-super-dim: rgb(200, 200, 200);
$background-color: white;
$border-color: rgb(225, 225, 225);
$border-color-lighter: rgb(235, 235, 235);

@mixin background-interface-icon($url: "", $size: 1rem, $fit: contain) {
  width: $size;
  aspect-ratio: $size/$size;
  background-image: url($url);
  background-size: $fit;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin unselectable {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; // normal syntax
}
