@import "library.scss";
html {
  font-size: 18px;
}
* {
  font-family: "Manrope", sans-serif;
  font-weight: 500;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1800px;
  background-color: $background-color;
  color: $text-color;

  .main-body {
    min-height: 80vh;
    padding: 0.5rem 4rem 2rem;
  }
  button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .unselectable {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; // normal syntax
  }
}
::placeholder {
  color: rgb(190, 190, 190);
}
